<a href="https://colab.research.google.com/github/henryberroa4040/python-basico/blob/main/Clase-4-Script02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Datos de tipo Lista

In [ ]:
# Para la definicion usamos corchete
lista_1 = []

In [ ]:
# Verifiquemos la creacion de la variable lista_1 en memoria ram
lista_1

[]

In [ ]:
# Tipo de dato
type(lista_1)

list

In [ ]:
# Caracteristica1 : Sus elementos pueden ser de naturaleza heterogenea
# Eso implica de que sus elementos tambien pueden ser de naturaleza homogena

lista_2 = [True, False or True, 1 , 0 and 1 , 12.3 , "Sexto_valor", lista_1]
lista_3 = [12,23,32,0,0,0,1]

In [ ]:
# Tipo de dato
type(lista_2)

list

In [ ]:
# Tipo de dato
type(lista_3)

list

In [ ]:
# Operacion  de concatenacion
lista_4 = lista_3 + lista_2
lista_4

[12, 23, 32, 0, 0, 0, 1, True, True, 1, 0, 12.3, 'Sexto_valor', []]

In [ ]:
# tipo de dato
type(lista_4)

list

In [ ]:
# Operacion de repeticion
lista_5 = 3 * lista_4
lista_5

[12,
 23,
 32,
 0,
 0,
 0,
 1,
 True,
 True,
 1,
 0,
 12.3,
 'Sexto_valor',
 [],
 12,
 23,
 32,
 0,
 0,
 0,
 1,
 True,
 True,
 1,
 0,
 12.3,
 'Sexto_valor',
 [],
 12,
 23,
 32,
 0,
 0,
 0,
 1,
 True,
 True,
 1,
 0,
 12.3,
 'Sexto_valor',
 []]

In [ ]:
# Combinemos las operaciones de concatenacion y repeticion
lista_6 = 3 * lista_5 + 5 * lista_2
lista_6

[12,
 23,
 32,
 0,
 0,
 0,
 1,
 True,
 True,
 1,
 0,
 12.3,
 'Sexto_valor',
 [],
 12,
 23,
 32,
 0,
 0,
 0,
 1,
 True,
 True,
 1,
 0,
 12.3,
 'Sexto_valor',
 [],
 12,
 23,
 32,
 0,
 0,
 0,
 1,
 True,
 True,
 1,
 0,
 12.3,
 'Sexto_valor',
 [],
 12,
 23,
 32,
 0,
 0,
 0,
 1,
 True,
 True,
 1,
 0,
 12.3,
 'Sexto_valor',
 [],
 12,
 23,
 32,
 0,
 0,
 0,
 1,
 True,
 True,
 1,
 0,
 12.3,
 'Sexto_valor',
 [],
 12,
 23,
 32,
 0,
 0,
 0,
 1,
 True,
 True,
 1,
 0,
 12.3,
 'Sexto_valor',
 [],
 12,
 23,
 32,
 0,
 0,
 0,
 1,
 True,
 True,
 1,
 0,
 12.3,
 'Sexto_valor',
 [],
 12,
 23,
 32,
 0,
 0,
 0,
 1,
 True,
 True,
 1,
 0,
 12.3,
 'Sexto_valor',
 [],
 12,
 23,
 32,
 0,
 0,
 0,
 1,
 True,
 True,
 1,
 0,
 12.3,
 'Sexto_valor',
 [],
 True,
 True,
 1,
 0,
 12.3,
 'Sexto_valor',
 [],
 True,
 True,
 1,
 0,
 12.3,
 'Sexto_valor',
 [],
 True,
 True,
 1,
 0,
 12.3,
 'Sexto_valor',
 [],
 True,
 True,
 1,
 0,
 12.3,
 'Sexto_valor',
 [],
 True,
 True,
 1,
 0,
 12.3,
 'Sexto_valor',
 []]

In [ ]:
# Funcion len
len(lista_6)

161

In [ ]:
# Funcion min
min(lista_3)

0

In [ ]:
# Funcion max
max(lista_3)

32

In [ ]:
# Funcion sum
sum(lista_3)

68

In [ ]:
min(lista_2)
import datetime
print(datetime.datetime.now())

TypeError: '<' not supported between instances of 'str' and 'int'

In [ ]:
# Typo de dato de cada elemento de lista 2
for elemento in lista_2:
  print(type(elemento))

<class 'bool'>
<class 'bool'>
<class 'int'>
<class 'int'>
<class 'float'>
<class 'str'>
<class 'list'>

In [ ]:
# Acceso a la primera componente de lista_3
lista_3[0]

12

In [ ]:
# Acceso a la ultima componente de la lista_5
lista_5[-1]

[]

In [ ]:
# Acceso a los primeros 5 elemento de lista_6
lista_6[:5]

[12, 23, 32, 0, 0]

In [ ]:
# Acceso a los ultimos 7 elementos de lista_6
lista_6[-7:]

[True, True, 1, 0, 12.3, 'Sexto_valor', []]