<a href="https://colab.research.google.com/github/henryberroa4040/python-basico/blob/main/Clase-6-Script01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Creacion de una variable de tipo lista
lista= ["esto","es una","variable","de tipo lista"]
lista

['esto', 'es una', 'variable', 'de tipo lista']

In [ ]:
# Lista de metodos que puedo aplicar a un dato de tipo lista
dir(lista)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [ ]:
# Lista de metodos de interes
#  'append',
#  'clear',
#  'copy',
#  'count',
#  'extend',
#  'index',
#  'insert',
#  'pop',
#  'remove',
#  'reverse',
#  'sort'

In [ ]:
# El metodo apend
help(lista.append)

Help on built-in function append:

append(object, /) method of builtins.list instance
    Append object to the end of the list.

In [ ]:
lista

['esto', 'es una', 'variable', 'de tipo lista']

In [ ]:
lista.append([12])
lista.append(["Sexta Clase"])
lista.append(["2025-01-27"])

In [ ]:
lista

['esto',
 'es una',
 'variable',
 'de tipo lista',
 [12],
 ['Sexta Clase'],
 ['2025-01-27'],
 ['Sexta Clase'],
 ['2025-01-27'],
 ['Sexta Clase'],
 ['2025-01-27']]

In [ ]:
# Verifiquemos que el objeto que obtenemos de aplicar una o varias veces el metodo append
# sigue siendo un dato de tipo lista
type(lista)

list

In [ ]:
listaX= 2*lista + 5*lista

In [ ]:
# Documentacion del metodo clear
help(listaX.clear)

Help on built-in function clear:

clear() method of builtins.list instance
    Remove all items from list.

In [ ]:
listaX.clear()

In [ ]:
listaX

[]

In [ ]:
# Documentacion del metodo copy
help([].copy)

Help on built-in function copy:

copy() method of builtins.list instance
    Return a shallow copy of the list.

In [ ]:
# Forma clasica de crear una copia de una variable (Forma usada en los lenguajes de programacion compilado)
lista_copia1=lista
print(lista)
print(lista_copia1)

['esto', 'es una', 'variable', 'de tipo lista', [12], ['Sexta Clase'], ['2025-01-27'], ['Sexta Clase'], ['2025-01-27'], ['Sexta Clase'], ['2025-01-27']]
['esto', 'es una', 'variable', 'de tipo lista', [12], ['Sexta Clase'], ['2025-01-27'], ['Sexta Clase'], ['2025-01-27'], ['Sexta Clase'], ['2025-01-27']]

In [ ]:
# Modifiquemos los dos ultimos elemento de la variable lista_copia1
lista_copia1[-1] = 0

In [ ]:
# Mostremos la variable original
lista

['esto',
 'es una',
 'variable',
 'de tipo lista',
 [12],
 ['Sexta Clase'],
 ['2025-01-27'],
 ['Sexta Clase'],
 ['2025-01-27'],
 ['Sexta Clase'],
 0]

In [ ]:
# La forma correcta de crear una copia (independiente de la original) de una variable
# de tipo lista : Es usando el metodo copy
lista_copia2  = lista.copy()
print(lista)
print(lista_copia2)

['esto', 'es una', 'variable', 'de tipo lista', [12], ['Sexta Clase'], ['2025-01-27'], ['Sexta Clase'], ['2025-01-27'], ['Sexta Clase'], 0]
['esto', 'es una', 'variable', 'de tipo lista', [12], ['Sexta Clase'], ['2025-01-27'], ['Sexta Clase'], ['2025-01-27'], ['Sexta Clase'], 0]

In [ ]:
# Modifiquemos el ultimo elemento de lista_copia2
lista_copia2[-1] = "2025-04-17"
print(lista_copia2)
print(lista)

['esto', 'es una', 'variable', 'de tipo lista', [12], ['Sexta Clase'], ['2025-01-27'], ['Sexta Clase'], ['2025-01-27'], ['Sexta Clase'], '2025-04-17']
['esto', 'es una', 'variable', 'de tipo lista', [12], ['Sexta Clase'], ['2025-01-27'], ['Sexta Clase'], ['2025-01-27'], ['Sexta Clase'], 0]

In [ ]:
# for es una statement y de esta manera podemos acceder a la documentacion: help("for")

In [ ]:
# Documentacion del metodo count
help([].count)

Help on built-in function count:

count(value, /) method of builtins.list instance
    Return number of occurrences of value.

In [ ]:
# Generemos una lista de 10**3 numeros aleatorios enteros en [0,20]

# Cargemos el modula random
import random as rnd

lista_data=[]
for i in range(10**3):
    lista_data.append(rnd.randint(0,20))

lista_data

In [ ]:
# Contemos las veces que aparece el numero 20
lista_data.count(20)

53

In [ ]:
# Contemos el numero de veces que aparece el -1
lista_data.count(-1)

0

In [ ]:
# Documentacion del metodo extend
help([].extend)

Help on built-in function extend:

extend(iterable, /) method of builtins.list instance
    Extend list by appending elements from the iterable.

In [ ]:
# Iterable : str, range, list
print(lista)
lista.extend("aeiou")
print(lista)

['esto', 'es una', 'variable', 'de tipo lista', [12], ['Sexta Clase'], ['2025-01-27'], ['Sexta Clase'], ['2025-01-27'], ['Sexta Clase'], 0]
['esto', 'es una', 'variable', 'de tipo lista', [12], ['Sexta Clase'], ['2025-01-27'], ['Sexta Clase'], ['2025-01-27'], ['Sexta Clase'], 0, 'a', 'e', 'i', 'o', 'u']

In [ ]:
print(lista)
lista.extend(range(1,21))
print(lista)

['esto', 'es una', 'variable', 'de tipo lista', [12], ['Sexta Clase'], ['2025-01-27'], ['Sexta Clase'], ['2025-01-27'], ['Sexta Clase'], 0, 'a', 'e', 'i', 'o', 'u']
['esto', 'es una', 'variable', 'de tipo lista', [12], ['Sexta Clase'], ['2025-01-27'], ['Sexta Clase'], ['2025-01-27'], ['Sexta Clase'], 0, 'a', 'e', 'i', 'o', 'u', 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [ ]:
# Generemos una nueva lista
listaY= [0.98 , 2.35 , rnd.gauss(9.81,3.15)]
print(lista)
lista.extend(listaY)
print(lista)

['esto', 'es una', 'variable', 'de tipo lista', [12], ['Sexta Clase'], ['2025-01-27'], ['Sexta Clase'], ['2025-01-27'], ['Sexta Clase'], 0, 'a', 'e', 'i', 'o', 'u', 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
['esto', 'es una', 'variable', 'de tipo lista', [12], ['Sexta Clase'], ['2025-01-27'], ['Sexta Clase'], ['2025-01-27'], ['Sexta Clase'], 0, 'a', 'e', 'i', 'o', 'u', 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 0.98, 2.35, 6.618580835915717]

In [ ]:
# Documentacion del metodo index
help([].index)

Help on built-in function index:

index(value, start=0, stop=9223372036854775807, /) method of builtins.list instance
    Return first index of value.

    Raises ValueError if the value is not present.

In [ ]:
lista_data.count(20)

53

In [ ]:
# De las 20 veces que aparece el numero 20 en lista_data, el metodo index devuelve el indice
# donde aparece por primera vez
lista_data.index(20)

18

In [ ]:
# Accedamos a los primeros 18 elemntos de lista data
lista_data[:18].count(20)

0

In [ ]:
# En que indice aparece por primera vez el numero -1      --->  Raises ValueError if the value is not present.
lista_data.index(-1)

ValueError: -1 is not in list

In [ ]:
# Manejo/administracion de errores y excepciones

In [ ]:
# Fija para el final : Dada una lista encontrar los indices donde aparece un valor determinado

In [ ]:
# Documentacion del metodo insert
help([].insert)

Help on built-in function insert:

insert(index, object, /) method of builtins.list instance
    Insert object before index.

In [ ]:
listaY

[0.98, 2.35, 6.618580835915717]

In [ ]:
# Agreguemos un 20 como primer elemento
# ese valor 20 lo vamos a agregar antes del indice 0
listaY.insert(0,20)

In [ ]:
listaY

[20, 0.98, 2.35, 6.618580835915717]

In [ ]:
# Insertemos un nuevo penultimo elemento
listaY.insert(-1,0)
listaY

[20, 0.98, 2.35, 0, 6.618580835915717]

In [ ]:
# Recuerda que para agregar un ultimo elemneto es mejor usar el metodo append/extend

In [ ]:
# Documentacion del metodo pop
help([].pop)

Help on built-in function pop:

pop(index=-1, /) method of builtins.list instance
    Remove and return item at index (default last).

    Raises IndexError if list is empty or index is out of range.

In [ ]:
lista_copia1

[20,
 'esto',
 'es una',
 'variable',
 'de tipo lista',
 [12],
 ['Sexta Clase'],
 ['2025-01-27'],
 ['Sexta Clase'],
 ['2025-01-27'],
 ['Sexta Clase'],
 0,
 'a',
 'e',
 'i',
 'o',
 'u',
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 0.98,
 2.35,
 6.618580835915717]

In [ ]:
lista_copia1.pop()
lista_copia1

[20,
 'esto',
 'es una',
 'variable',
 'de tipo lista',
 [12],
 ['Sexta Clase'],
 ['2025-01-27'],
 ['Sexta Clase'],
 ['2025-01-27'],
 ['Sexta Clase'],
 0,
 'a',
 'e',
 'i',
 'o',
 'u',
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 0.98,
 2.35]

In [ ]:
# Apliquemos nuevamente el metodo pop
lista_copia1.pop()

2.35

In [ ]:
lista_copia1

[20,
 'esto',
 'es una',
 'variable',
 'de tipo lista',
 [12],
 ['Sexta Clase'],
 ['2025-01-27'],
 ['Sexta Clase'],
 ['2025-01-27'],
 ['Sexta Clase'],
 0,
 'a',
 'e',
 'i',
 'o',
 'u',
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 0.98]

In [ ]:
# Eliminemos el primer 20 de la variable lista_data : usando el metodo pop
lista_data.pop(lista_data.index(20))

20

In [ ]:
# Eliminamos un elemento con pop, entonces el nuevo numero de elementos es:
len(lista_data)

999

In [ ]:
lista_data.index(20)

19

In [ ]:
# Implementa una funcion que elimine todos los 20 de la variable lista_data

In [ ]:
# Documentacion del metodo remove
help([].remove)

Help on built-in function remove:

remove(value, /) method of builtins.list instance
    Remove first occurrence of value.

    Raises ValueError if the value is not present.

In [ ]:
# Documentacion del metodo reverse
help([].reverse)

Help on built-in function reverse:

reverse() method of builtins.list instance
    Reverse *IN PLACE*.

In [ ]:
# recuperemos los primeros 15 elemento de lista_data
lista15 = lista_data[:14+1]
lista15.reverse()

In [ ]:
lista15

[0, 10, 14, 10, 18, 19, 4, 17, 17, 11, 14, 18, 4, 13, 17]

In [ ]:
lista_data[:15]

[17, 13, 4, 18, 14, 11, 17, 17, 4, 19, 18, 10, 14, 10, 0]

In [ ]:
# Documentacion del metodo sort
help([].sort)

Help on built-in function sort:

sort(*, key=None, reverse=False) method of builtins.list instance
    Sort the list in ascending order and return None.

    The sort is in-place (i.e. the list itself is modified) and stable (i.e. the
    order of two equal elements is maintained).

    If a key function is given, apply it once to each list item and sort them,
    ascending or descending, according to their function values.

    The reverse flag can be set to sort in descending order.

In [ ]:
# Ordenemos los primeros 15 elemnto de lista_data
lista15.sort()

In [ ]:
lista15

[0, 4, 4, 10, 10, 11, 13, 14, 14, 17, 17, 17, 18, 18, 19]

# Datos de tipo tupla

In [ ]:
# Definicion : Usamos parentesis
t1 = ()
t2 = (12,23,34,55)

In [ ]:
# Tipo de dato
type(t1)

tuple

In [ ]:
# Tipo de dato
type(t2)

tuple

In [ ]:
# Un objeto/dato de tipo tupla es un objeto inmutable
t2[-1] = 0

TypeError: 'tuple' object does not support item assignment

In [ ]:
# iterable
t2[1]

23

In [ ]:
t3 = 2*t2+t2*5
t3

(12,
 23,
 34,
 55,
 12,
 23,
 34,
 55,
 12,
 23,
 34,
 55,
 12,
 23,
 34,
 55,
 12,
 23,
 34,
 55,
 12,
 23,
 34,
 55,
 12,
 23,
 34,
 55)

In [ ]:
# Lista de metodos que se puede aplicar a un dato de tipo tupla
dir(t1)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [ ]:
# Lista de metodos de interes para un dato de tipo tupla
#  'count',
#  'index'

In [ ]:
# Documentacion del metodo count para una tupla
help(t1.count)

Help on built-in function count:

count(value, /) method of builtins.tuple instance
    Return number of occurrences of value.

In [ ]:
# Documentacion del metodo index para una tupla
help(t1.index)

Help on built-in function index:

index(value, start=0, stop=9223372036854775807, /) method of builtins.tuple instance
    Return first index of value.

    Raises ValueError if the value is not present.

# Datos de tipo diccionario

In [ ]:
# Definicion : Usando llaves
d1 = {}
d2 = {"uno":12 , "dos":9, "tres": 5}

In [ ]:
# tipo de dato
type(d1)

dict

In [ ]:
# tipo de dato
type(d2)

dict

In [ ]:
# Creacion de un diccionario que almacena datos de una agenda
agenda_d = {"nombre":"Abrahan", "apellido":"Zamudio","email":"abraham.zamudi@uni.pe","edad":42,"estatura":1.85,"peso":100.5}
agenda_d

{'nombre': 'Abrahan',
 'apellido': 'Zamudio',
 'email': 'abraham.zamudi@uni.pe',
 'edad': 42,
 'estatura': 1.85,
 'peso': 100.5}

In [ ]:
# Valor que corresponde a la llave email      # Obtenemos el valor asociado a esa llave
agenda_d["email"]

'abraham.zamudi@uni.pe'

In [ ]:
# Agregemos el elemento celular a nuestro diccionario agenda_d

In [ ]:
agenda_d["numero"]=1234567
agenda_d

{'nombre': 'Abrahan',
 'apellido': 'Zamudio',
 'email': 'abraham.zamudi@uni.pe',
 'edad': 42,
 'estatura': 1.85,
 'peso': 100.5,
 'numero': 1234567}

In [ ]:
# Lista de metodo que podemos aplicar a un dato de tipo diccionario
dir(d1)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [ ]:
# Lista de metodos de interes
#  'clear',
#  'copy',
#  'fromkeys',
#  'get',
#  'items',
#  'keys',
#  'pop',
#  'popitem',
#  'setdefault',
#  'update',
#  'values'